- if @effective_asset.new_record?
  = render :partial => 'active_admin/effective_assets/new', :locals => {:asset => @effective_asset}
- else
  = render :partial => 'active_admin/effective_assets/edit', :locals => {:asset => @effective_asset}
