%script{:type => 'text/x-tmpl'}
  .upload
    = "{%=o.name%}"
    .progress
      %span
        %img{:src => '/assets/effective_assets/spinner.gif', :class => 'spinner'}
        Uploading...
      .bar{:style => 'width: 0%'}
