.uploads
.asset-box-uploader{:style => "#{uploader_visible ? '' : 'display: none;'}", :id => "s3_#{uid}"}
  = s3_uploader_fields
  - if limit > 1
    %input{:type => 'file', :multiple => 'multiple', :name => 'file'}
  - else
    %input{:type => 'file', :name => 'file'}

  = render :partial => progress_bar_partial

  %script{:type => 'text/javascript'}
    :erb

      $("#s3_<%= uid %>").S3Uploader({
        url: '<%= s3_uploader_url %>',
        progress_bar_target: $("#s3_<%= uid %>").siblings('.uploads').first(),
        progress_bar_template: $("#s3_<%= uid %>").children("script[type='text/x-tmpl']").first(),
        remove_completed_progress_bar: true,
        allow_multiple_files: <%= limit > 1 %>,
        create_asset_url: '<%= s3_uploads_url %>',
        update_asset_url: '<%= s3_uploads_url %>/:id',
      });
