.asset-box-uploader{:style => "#{uploader_visible ? '' : 'display: none;'}", :id => "s3_#{uid}"}
  = s3_uploader_fields
  %input{:type => 'file', :multiple => 'multiple', :name => 'file'}

  .uploads

  = render :partial => progress_bar_partial

  %script{:type => 'text/javascript'}
    :erb

      $("#s3_<%= uid %>").S3Uploader({
        url: '<%= s3_uploader_url %>',
        progress_bar_target: $("#s3_<%= uid %>").children('.uploads').first(),
        progress_bar_template: $("#s3_<%= uid %>").children("script[type='text/x-tmpl']").first(),
        remove_completed_progress_bar: false,
        create_asset_url: '<%= s3_uploads_url %>',
        update_asset_url: '<%= s3_uploads_url %>/:id',
      });
