@mixin clearfix {
  display: block;
  &:after { content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden; }
}

@mixin border-radius ($radius) {
  position: relative;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

.asset-box-input {

  .attachments {
    @include clearfix;

    .attachment {
      position: relative;
      width: 128px;
      float: left;
      margin-right: 20px;
      height: 190px;

      p.title {
        font-size: 14px;
        color: #818181;
        padding: 10px;
        margin: 0;
      }
    }
  }

  .asset-box-uploader {
    .uploads {
      .upload {
        border-top: solid 1px #CCC;
        width: 400px;
        padding-top: 10px;
        margin-top: 10px;

        .progress {
          margin-top: 8px;
          border: solid 1px #555;
          @include border-radius(3px);

          .bar {
            height: 100%;
            background: #3EC144;
          }
        }
      }
    }
  }
}
