@import "effective_assets/asset_box_input";

a.attachment-insert {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  padding: 2px 12px;
}

body {
  font-family: Helvetica,Tahoma,Arial,sans-serif;
  padding: 10px;
}

.form-control.filter-attachments {
  display: inline;
  font-weight: normal;
  width: auto;
  min-width: 50%;
  margin-left: 10px;
}

@import "effective_assets/iframe_bootstrap";
