@import "effective_assets/asset_box_input";

a.attachment-insert {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  padding: 2px 12px;
}

body {
  font-family: Helvetica,Tahoma,Arial,sans-serif;
}

@import "effective_assets/iframe_bootstrap";
