- asset = effective_asset.asset
- asset.aws_acl = 'authenticated-read' if effective_asset.is_private?

- if asset.nil?
  %img{:src => '#'}
- elsif asset.image?
  = effective_asset_image_tag(asset, nil, :class => effective_asset.html_class)
- else
  = effective_asset_link_to(asset, nil, :class => effective_asset.html_class, :title => effective_asset.link_title.presence)
